<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="33.0.1" targetFramework="net461" />
  <package id="GDAL" version="3.9.1" targetFramework="net461" />
  <package id="Gdal.Core" version="1.0.0" targetFramework="net461" />
  <package id="GDAL.Native" version="3.9.1" targetFramework="net461" />
  <package id="GDAL.Plugins" version="3.9.1" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="NuGet.Common" version="6.11.0-preview.2" targetFramework="net461" />
  <package id="NuGet.Configuration" version="6.11.0-preview.2" targetFramework="net461" />
  <package id="NuGet.Frameworks" version="6.11.0-preview.2" targetFramework="net461" />
  <package id="NuGet.Packaging" version="6.11.0-preview.2" targetFramework="net461" />
  <package id="NuGet.Protocol" version="6.11.0-preview.2" targetFramework="net461" />
  <package id="NuGet.Versioning" version="6.11.0-preview.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Pkcs" version="6.0.4" targetFramework="net461" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.4.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="7.0.3" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
</packages>