<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="GDAL" version="3.9.1" targetFramework="net472" />
  <package id="Gdal.Core" version="1.0.0" targetFramework="net472" />
  <package id="GDAL.Native" version="3.9.1" targetFramework="net472" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net472" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net472" />
  <package id="NetTopologySuite.Core" version="1.15.3" targetFramework="net472" />
  <package id="SharpMap" version="1.2.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.7.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.6.0" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
</packages>