<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Essential.Diagnostics.Core" version="2.0.206" targetFramework="net46" />
  <package id="Essential.Diagnostics.SqlDatabaseTraceListener" version="2.0.206" targetFramework="net46" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
</packages>